<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:jpa="http://www.springframework.org/schema/data/jpa"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/jpa">
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean id="stats" class="P3212.ANFBackend.EntityClasses.Stats"/>
    <bean id="appearance" class="P3212.ANFBackend.EntityClasses.Appearance"/>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://127.0.0.1:1488/studs"/>
        <property name="username" value="s243860"/> <!-- Insert url, password, username here -->
        <property name="password" value="raa679"/>
    </bean>
    <bean id="userRepo" class="P3212.ANFBackend.Repositories.UserRepo"/>
    <!--<bean id="namedParameterJdbcOperations" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcOperations" abstract="true">-->
    <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->
    <!--<bean id="userRepository" class="P3212.ANFBackend.Repositories.UserRepository" abstract="true" autowire="byName"/>-->
    <bean id="serviceBean" class="P3212.ANFBackend.Services.ServiceBean"/>
    <!--<bean id="userMapping" class="P3212.ANFBackend.UserMapping"/>-->
    <!--<bean id="UserDAOJDBCImpl" class="P3212.ANFBackend.Repositories.AppearanceRepository">-->
    <!--<property name="dataSource" ref="dataSource" />-->
    <!--</bean>-->
    <!---->
    <!--<bean id="StatsDAOJDBCImpl" class = "P3212.ANFBackend.JDBCImplementations.StatsJDBCImplementation">-->
    <!--<property name="dataSource" ref = "dataSource"/>-->
    <!--</bean>-->

</beans>
